<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function(){
    $("#submitBtn").click(function(){
        $("#myForm").submit(); // Submit the form
    });
});
</script>
<div>
    <h1>北天サービス1年満期</h1>
    <h2>年率36%</h2>
</div>
    <h2>New post</h2>
    <form method="POST" class="post-form" id="myForm">{% csrf_token %}
        {{ form.as_p }}
        name <input type="text" name="name" size="20"><br>
        money <input type="text" name="money" size="20"><br>
        <button type="button" id="submitBtn">Save</button>
    </form>

{% for post in posts %}
    <div>
        <p>{{ post.text}}</p>
    </div>
{% endfor %}


